@import "tailwindcss";


:root {
  --background: #f9f9f9;
  --foreground: #1a1c1c;

  --surface: #f9f9f9;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f4f3f3;
  --surface-container: #eeeeee;
  --surface-container-high: #e8e8e8;
  --surface-container-highest: #e2e2e2;

  --on-surface: #1a1c1c;
  --on-surface-variant: #5a403e;

  --primary: #8f000d;
  --primary-container: #b22222;
  --on-primary: #ffffff;

  --secondary: #5f5e5e;
  --on-secondary: #ffffff;

  --outline: #8e706d;
  --outline-variant: #e2beba;

  --error: #ba1a1a;
  --on-error: #ffffff;
}

